<div class="authpage" ng-controller="AuthenticationController">
  <div class="alert alert-danger" ng-if="error">{{error}}</div>

  <div class="col-md-offset-2 col-md-8">

    <form ng-submit="signin()">
      <div class="form-group">
        <label for="email">Email</label>
        <input required name="email" type="text" ng-model="email" id="email" class="form-control" placeholder="Your Ultimate email">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input required name="password" type="{{showpassword ? 'text' : 'password'}}" ng-model="password" id="password" class="form-control" placeholder="Your email password">
        <input class="option" type="checkbox" ng-model="showpassword" ng-checked="false">
        <a class="option-title" color="#509e2f">View password</a>
        </input>
      </div>
        <div class="form-group">
          <input type="submit" value="Sign in" class="btn btn-primary">
          <div class="welcome-screen">
            <a ui-sref = "user.welcome()">First time using the app? Click Here!</a>
          </div>
        </div>
    </form>

  </div>


</div>
