<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../../../../public/lib/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/faqs.css">
</head>
<body>
<div class="col-lg-12">
<section data-ng-controller="FAQsController" ng-init="find()">
  <div class="page-header">
    <div class="col-lg-12">
    <h1>Frequently Asked Questions</h1>
    <button data-toggle="collapse" class="btn btn-group-lg" ng-click="askme=!askme">Ask a question</button>
    <div class="col-lg-12" ng-show="askme">
      <form name="faqForm" class="form-vertical">
        <fieldset>
          <div class="form-group" show-errors>
            <input type="text" name="question" class="form-control" ng-model="question" placeholder="post a question here" required>
            <div ng-messages="faqForm.question.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Question is required</p>
            </div>
          </div>
          <input type="submit" color="PMS 362c" class="btn btn-success btn-lg btn-block" ng-click="post()" placeholder="Ask" />
        </fieldset>
      </form>
    </div>
    </div>
  </div>
  <div class="list-group col-lg-12" id="faqs-list" ng-repeat="faq in faqs" ui-sref="faqs.respond({faqId: faq._id})">
    <a  class="list-group-item">
      <h4 class="list-group-item-heading" ng-click="showme=!showme"> {{faq.question}} <button class="btn btn-link glyphicon glyphicon-question-sign"></button></h4>
    </a>
  </div>
</section>
</div>
</body>
