<section ng-controller="FAQsController" ng-init="findOne()">
  <div class="col-xs-12">
    <h2 ng-bind="faq.question"></h2>


    <div class="answers">
      <div class="answer" ng-repeat="answer in faq.answers">
        <h6>Posted by {{answer.user.firstName}} {{answer.user.lastName}} </h6>
        <p>{{answer.date | date: 'MM/dd/yyyy hh:mm a'}}</p>
        <div>{{answer.answer}}</div>
      </div>
    </div>

    <textarea name="answer" rows="5" ng-model="answer" class="form-control" placeholder="Add your answer here!" required></textarea>
    <button class="btn" ng-click="addAnswer()">Post Answer</button>


  </div>
</section>

