<section ng-controller="ProjectsController">
  <div class="col-xs-12">
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100" style="width: 66%;">
        <span class="sr-only">66% Complete</span>
        <p class="text-right">Step 2/3&nbsp;&nbsp;</p>
      </div>
    </div>
    <form name="projectFormCategories" class="form-verical">
      <h2><b>Create Project: </b>Pick Project Category</h2>
      <div class="form-group">
        <section>
          <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary {{ activeCategory._id == category._id ? 'active' : '' }}" ng-click="setActiveCategory(category)" ng-repeat="category in activeEvent.categories">
              <input type="radio" name="options" id="option1" autocomplete="off" checked> {{category.title}}
            </label>
          </div>

          <div class="category-description">
            {{activeCategory.description}}
          </div>
        </section>
      </div>
      <button type="submit" ng-click="saveProjectCategory()" color="PMS 362c" class="btn btn-success btn-lg btn-block">Next ></button>
    </form>
  </div>
</section>
