<section ng-controller="ProjectsController" ng-init="loadUsers()">
  <div class="col-xs-12">
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="97" aria-valuemin="0" aria-valuemax="100" style="width: 97%;">
        <span class="sr-only">97% Complete</span>
        <p class="text-right">Step 3/3&nbsp;&nbsp;</p>
      </div>
    </div>
    <h3 class="text-center">Select Team Members</h3>
    <hr />
    <h4>Current team</h4>
    <div class="table-responsive">
      <table class="table table-hover">
        <tr>
          <td><i class="glyphicon glyphicon-user"></i></td>
          <td><span ng-bind="owner.firstName"></span> <span ng-bind="owner.lastName"></span></td>
          <td><span ng-bind="owner.email"></span></td>
          <td>Owner</td>
        </tr>
        <tr ng-repeat="member in team">
          <td><i class="glyphicon glyphicon-user"></i></td>
          <td>{{member.firstName}} {{member.lastName}}</td>
          <td>{{member.email}}</td>
          <td class="text-right"><button class="btn btn-xs" ng-click="removeMember(member)"><i class="glyphicon glyphicon-trash"></i></button></td>
        </tr>
      </table>
    </div>

    <h4>Add members</h4>
    <div class="input-group" id="searchBar">
      <span class="input-group-addon" id="sizing-addon"><span class="glyphicon glyphicon-search"></span></span>
      <input type="text" class="form-control" placeholder="Search" ng-model="query">
    </div>
    <div class="table-responsive">
      <table class="table table-hover">
        <tr ng-repeat="user in users | filter: query">
          <td><i class="glyphicon glyphicon-user"></i></td>
          <td>{{user.firstName}} {{user.lastName}}</td>
          <td>{{user.email}}</td>
          <td class="text-right"><button class="btn btn-xs" ng-click="addMember(user)"><i class="glyphicon glyphicon-plus"></i> Add</button></td>
        </tr>
      </table>
    </div>
    <button ng-click="create()" color="PMS 362c" class="btn btn-success btn-lg btn-block">Add Project</button>
  </div>
</section>
