<section ng-controller="ProjectsController" ng-init="findOne()">
  <div class="col-xs-12">
    <h2>Edit Project</small></h2>
    <form name="projectForm" class="form-vertical" ng-submit="update(projectForm.$valid)">
      <fieldset>
        <div class="form-group" show-errors>
          Title
          <input type="text" ng-model="project.title" name="title" class="form-control" required>
          <div ng-messages="projectForm.title.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Project title is required</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          Embedded YouTube URL
          <input type="url" ng-model="project.youtube" class="form-control">
        </div>
        <div class="form-group" show-errors>
          Short Project Description
          <input type="text" ng-model="project.description.short" class="form-control" required>
          <div ng-messages="projectForm.title.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Project short description is required</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          Detailed Project Description
          <text-angular ng-model="project.description.long"></text-angular>
          <div ng-messages="projectForm.details.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Project detailed description is required</p>
          </div>
        </div>
        <input type="submit" color="PMS 362c" class="btn btn-success btn-lg btn-block" value="Save" />
      </fieldset>
    </form>
  </div>
</section>
