<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../../../../public/lib/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/projects.css">
</head>
<body>

<section ng-controller="ProjectsController" ng-init="find()">
  <div class="list-group" ui-sref="projects.view({projectId: project._id})" ng-repeat="project in projects|orderBy:random">
    <a  class="list-group-item">
      <h4 class="list-group-item-heading">{{project.title}}</h4>
      <h6 class="list-group-item-heading">{{project.category}}</h6>
      <p class="list-group-item-text">{{project.description.short}}</p>
    </a>
  </div>
</section>
</body>
