<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../../../../public/lib/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/projects.css">
</head>
<body>

<section ng-controller="ProjectsController" ng-init="find()">
  <div class="container">
    <div class="list-group" ng-repeat="project in projects|orderBy:random">
      <a href="#" class="list-group-item">
        {{project.title}}<br>
        {{project.category}}<br>
        {{project.description.short}}
      </a>
    </div>
  </div>
</section>
</body>
