<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Core App Template and Menu</title>
  <link rel="stylesheet" href="../css/core.css">
</head>

<div ng-controller="HeaderController">

  <nav id="side-menu">
    <a ui-sref="{{menuItem['ui-sref']}}" ng-repeat="menuItem in activeMenu">{{menuItem.title}}</a>
    <a ng-click="logout()" ng-if="loggedIn" style="cursor: pointer">Logout</a>
  </nav>

  <header class="header">
    <img id="homelogo" src="/modules/core/client/img/Ultimate_Logo.png"/>
    <span class="menu-select" ng-click="toggleCollapsibleMenu()">{{isCollapsed ? '&#9776' : '&#x2715'}}</span>
  </header>

</div>


