<div ng-controller="HeaderController">
    <nav style="width:200px" id="side-menu">
        <a href="#" ng-click="closeMenu()">Close &times;</a>

        <a ui-sref="{{menuItem['ui-sref']}}" ng-repeat="menuItem in activeMenu">{{menuItem.title}}</a>
        <a ng-click="logout()" ng-if="loggedIn" style="cursor: pointer">Logout</a>

    </nav>

    <div id="top-menu" ng-click="toggleCollapsibleMenu()" style="text-align:center;">
      <span style="float:left">&#9776;</span>
      <img src="/modules/core/client/img/Ultimate_Logo.png" style="height:80%;margin:2px;"/>
    </div>
</div>
