<section ng-controller="HomeController" ng-init="init()">

  <div class="event-countdown" ng-if="activeEvent">
    <p><span ng-bind="activeEvent.title"></span>
      <span ng-if="activeEvent.inProgress"> in progress</span>
      <span ng-if="!activeEvent.inProgress"> upcoming</span>
    </p>
      <h4 ng-if="activeEvent.inProgress"><span ng-bind="activeEvent.timer"></span> hrs remaining</h4>
      <h4 ng-if="!activeEvent.inProgress"><span ng-bind="activeEvent.timer"></span> till event</h4>
    </div>

    <div class="create-idea" ui-sref="ideas.create()">
      <h3 class="title">Upload an idea</h3>
      <p class="description">The basics, please.  What is your project?  What does it do?</p>
      <p class="sub-title">Start now</p>
    </div>

    <div class="create" ui-sref="projects.create()">
      <h3 class="title">Submit a project</h3>
      <p class="description">Have a solid idea? Submit your project now!</p>
      <p class="sub-title">Start now</p>
    </div>

    <div class="create-article" ui-sref="articles.create()">
      <h3 class="title">Add an article </h3>
    </div>


</section>
