.add-idea {
  margin-top:6vh;
  background-color: #509e2f;
  width: 100%;
  padding: 10px;
  color: white;
  cursor: pointer;
  letter-spacing:1px;
}

.welcome-screen {
  margin-top:6vh;
  letter-spacing: 1px;
}
.ideaspage h2 {
  font-weight: 500;
  margin-bottom: 3vh;
  font-size: 38px;
  letter-spacing:1px;
}
.add-idea h3 {
  margin-top: 5px;
  margin-bottom: 0px;
  font-weight: 400;
  font-size:32px;
}

 .ideaspage .base-class {
   transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
   border:0 none;
   color: #ddd;
 }

 .ideaspage .base-class.glyphicon.glyphicon-heart {
   color: red;
 }

.add-idea .sub-title {
  text-transform: uppercase;
  margin-top: 10px;
  font-weight: 300;
  font-size: 16px;
}

.ideaspage padding-0 {
  padding-right:0;
  padding-left:0;
}

.ideaspage padding-left {
  position: absolute;
  padding-left:0;
  margin-left: -10vh;
}
.ideaspage padding-1 {
    display: inline-block;
}


.ideaspage .base-class {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  border:0 none;
  color: #ddd;
}

.ideaspage .base-class.glyphicon.glyphicon-heart {
  color: red;
}

.ideaspage .frontscreen {
    margin-bottom: 5vh;
    font-weight: 500;
    letter-spacing: 1px;
}
.ideaspage .idea-content {
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 5vh;
}
.ideaspage .backscreen {
    margin-bottom: 10vh;
    font-weight: 500;
    letter-spacing: 1px;
}

.ideaspage .idea-list {
  margin: auto;
  padding: 10px;
}
.ideaspage .idea-list .row {
  background: white;

}

.ideaspage .idea-list .item {
  border-color: white;
  padding: 20px;
}
.ideaspage .form-group {
  margin-bottom:3vh;
}

 /* styling for idea pages buttons */

.ideaspage .btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 400;
    letter-spacing: 1px;
}

.ideaspage .btn2 {
    background-color: white;
    padding: none;
    border: 0 none;
}

.ideaspage .btn1 {
   margin-top: 10px;
   background: white;
   border: 0 none;
   font-weight: 400;
   letter-spacing: 1px;
 }

.ideaspage .btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
.ideaspage .btn-primary {
    background: #509e2f;
    color: #ffffff;
    display:inline;
}
.ideaspage .btn-primary-1 {
    background: #509e2f;
    color: #ffffff;
    display:inline;
    margin-right: 10px;
}
.ideaspage .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #509000;
}
.ideaspage .btn-primary-1:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #509000;
}

.ideaspage .btn-primary:active, .btn-primary.active {
    background: #509e2f;
    box-shadow: none;
}
.ideaspage .btn-danger {
    background: none;
    color: black;
    border: 0 none;
    display: inline;
}
