.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 400;
    letter-spacing: 1px;
    width:100%;
  
}
.btn-primary {
    background: #509e2f;
    color: #ffffff;

}
.btn-danger {
    background: #d9534f;
    color: #ffffff;
    width: 10%;
}
.previous {
  float:left;
}
.home {
  float:left;
}
.frontscreen {
    font-family: "Times New Roman", Times, serif;
    margin-bottom: 5vh;
    font-weight: 500;
    letter-spacing: 1px;
}
.idea-content {
    font-family: "Times New Roman", Times, serif;
    font-weight: 500;
    letter-spacing: 1px;
}
.backscreen {
    font-family: "Times New Roman", Times, serif;
    margin-bottom: 10vh;
    font-weight: 500;
    letter-spacing: 1px;
}



.list-group {
  margin: auto;
  padding: 10px;
}

.list-group-item {
  font-family: "Times New Roman", Times, serif;
  padding: 20px;
}

.add-idea {
  background-color: #509e2f;
  width: 100%;
  padding: 10px;
  color: white;
  cursor: pointer;
}

.add-idea h3 {
  margin-top: 5px;
  margin-bottom: 0px;
}

.add-idea .sub-title {
  text-transform: uppercase;
  margin-top: 10px;
}
