<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../../../../public/lib/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/ideas.css">
</head>
<body>
<section class="ideaspage" ng-controller="IdeasController">
  <div>
    <form name="ideaForm" class="form-vertical">
      <fieldset>
        <div class="form-group" show-errors>
          <input type="text" name="title" class="form-control" ng-model="title" placeholder="title" required>
        </div>
        <div class="form-group" show-errors>
          <textarea name="short-details" rows="2" class="form-control" ng-model="short" placeholder="Summary of idea" required></textarea>
        </div>
        <div class="form-group" show-errors>
          <textarea name="details" rows="10" class="form-control" ng-model="long" placeholder="Describe your idea" required></textarea>
        </div>
      <div class="row">
        <div >
          <button type="submit" ng-click="create()" class="btn btn-primary-1">
            Publish idea
          </button>
          <button ui-sref="home()" class="btn btn-primary-1 pull-left">
            <span class="glyphicon glyphicon-trash"></span>
          </button>


        </div>
      </div>



      </fieldset>
    </form>
  </div>
</section>
