<section class="ideaspage" ng-controller="IdeasController">
  <div class="col-xs-12">
    <h2>Add Idea</h2>
    <form name="ideaForm" class="form-vertical">
      <fieldset>
        <div class="form-group" show-errors>
          <input type="text" name="title" class="form-control" ng-model="title" placeholder="title" required>
        </div>
        <div class="form-group" show-errors>
          <textarea name="short-details" rows="10" class="form-control" ng-model="short" placeholder="Summary of idea" required></textarea>
        </div>
        <div class="form-group" show-errors>
          <textarea name="details" rows="10" class="form-control" ng-model="long" placeholder="Describe your idea" required></textarea>
        </div>
  <div class="row">
        <div class="col-md-4">
        <button ui-sref="home()" class="btn btn-primary-1 pull-left">
        <span class="glyphicon glyphicon-arrow-left"></span>
        </button>

        <button type="submit" ng-click="create()" class="btn btn-primary">
          Submit
        </button>
        </div>
   </div>



      </fieldset>
    </form>
  </div>
</section>
