<head>
  <meta charset="utf-8">
  <title>edit-idea</title>
  <link rel="stylesheet" href="../css/ideas.css">
</head>
<section class="ideaspage" ng-controller="IdeasController" ng-init="findOne()" >
  <div class="idea-edit">
    <h3>Edit idea</h3>
  </div>
  <div >
    <form name="ideaForm" class="form-vertical" ng-submit="update(ideaForm.$valid)">
      <fieldset>
        <div class="form-group" show-errors>
          <input type="text" ng-model="idea.title" name="title" class="form-control" placeholder="Title" required>
          <div ng-messages="ideaForm.title.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Idea Title</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <textarea name="details" rows="5" ng-model="idea.description.long"
                    class="form-control" placeholder="Description for Idea" required></textarea>
          <div ng-messages="ideaForm.details.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Idea Description</p>
          </div>
        </div>
        <div>
          <button ui-sref="ideas.view({ideaId: idea._id})" class="btn btn-primary-1">
            <span class="glyphicon glyphicon-arrow-left"></span>
          </button>
          <input type="submit" class="btn btn-primary-1" value="Update"/>
        </div>

      </fieldset>
    </form>
  </div>

</section>
