<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../../../../public/lib/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/ideas.css">
</head>
<body>
<section class="ideaspage" ng-controller="IdeasController" ng-init="find()">
  <h3><span ng-bind="activeEvent.title"></span> Ideas</h3>
  <div class = "idea-list" ng-repeat="idea in ideas">
    <div class="row item">

        <button ui-sref="ideas.view({ideaId: idea._id})" class="btn2">
          <h4 class="item">{{idea.title}}</h4>
        </button>
        <button ng-click = "liked=!liked" ng-model = "liked" class = "btn2">
          <span class = "base-class glyphicon" ng-class="liked ? 'glyphicon-heart' : 'glyphicon-heart-empty'"></span>
        </button>

  </section>
</body>
