<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>view-idea</title>
    <link rel="stylesheet" href="../css/ideas.css">
  </head>
  <section class = "ideaspage" ng-controller="IdeasController" ng-init="findOne()">
    <div class="row">
      <h1 class="frontscreen" ng-bind="idea.title"></h1>
      <div class="row">
        <div class="col-md-4 col-md-6 pull-right">
          <a class="btn btn-danger pull-right" ng-click="remove()">
            <span class="glyphicon glyphicon-trash"></span>
          </a>
          <a class="btn btn-danger pull-right" ui-sref="ideas.edit({ideaId: idea._id})">
            <span class="glyphicon glyphicon-edit"></span>
          </a>
          <button ui-sref = "ideas.list()" class="btn btn-danger pull-left">
            <span class="glyphicon glyphicon-arrow-left"></span>
          </button>
          <button ui-sref = "home()" class="btn btn-danger">
            <span class="glyphicon glyphicon-home"></span>
          </button>
        </div>
      </div>

      <div >

        <div class="idea-content" ng-bind="idea.description.long"></div>

        <div >
          <h3 class="idea-team">Interested</h3>
          <ul class="team-list">
            <li>
              <i class="glyphicon glyphicon-user"></i> <span ng-bind="idea.owner.firstName"></span> <span ng-bind="idea.owner.lastName"></span> - <em>Owner</em>
            </li>
            <li ng-repeat="member in idea.team">
              <i class="glyphicon glyphicon-user"></i> <span ng-bind="member.firstName"></span> <span ng-bind="member.lastName"></span> - <em>Member</em>
            </li>
          </ul>
          <button ng-click="ideaToProject()" class="btn btn-primary-1">
            Make This a Project
          </button>
          <h3>Comments (<span ng-bind="idea.comments.length"></span>)</h3>
          <div class="clearfix" style="margin-bottom: 15px">
            <textarea name="comment" ng-model="comment" rows="5" class="form-control" placeholder="Please provide your feedback..." required></textarea>
            <button class="btn btn-primary-1" style = "margin-top: 10px" ng-click="addComment()">Add Comment</button>
          </div>

          <div class="comments-list">
            <div class="comment" ng-repeat="comment in idea.comments">
              <h6>{{comment.user.firstName}} {{comment.user.lastName}}</h6>
              <p>Posted on: {{comment.posted  | date: 'MM/dd/yyyy hh:mm a'}}</p>
              <p>{{comment.content}}</p>
            </div>
          </div>
        </div>


      </div>
    </div>

  </section>
</html>
