<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>view-idea</title>
    <link rel="stylesheet" href="../css/ideas.css">
  </head>
  <section ng-controller="IdeasController" ng-init="findOne()">
    <h1 class = "frontscreen" ng-bind="idea.title"></h1>
    <div class="idea-content" ng-bind="idea.description.long"></div>

    <span class="btn-group">

      <button ui-sref = "ideas.list()">
        <span class="glyphicon glyphicon-arrow-left"></span>
      </button>


      <button ui-sref = "global()" >
        <span class="glyphicon glyphicon-home"></span>
      </button>


      <button  ng-click="remove()">
        <span class="glyphicon glyphicon-trash"></span>
      </button>

    </span>

  </section>
</html>
