<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>welcome</title>
    <link rel="stylesheet" href="modules/users/client/css/users.css">
    <script src="transitionController.js"></script>
  </head>
<section class = "authpage" ng-controller="AuthenticationController">

  <div ui-view>
          <div style="margin-bottom:10vh">
            <h3 class="text-left">Welcome to the Hackathon</h3>
              <p class="text-left">
                 Submit an idea, vote on projects, view your event schedule and more in this all-inclusive app.  Brought to you by the UF Student Web Development Team.
              </p>
          </div>
          <div style="margin-bottom:10vh">
            <h3 class="text-left">Submitting Projects and Ideas</h3>
            <p class="text-left">
              On the home screen you'll find various buttons used to interface with the app.  The topmost solid green button allows you to submit a project and the one below
              it lets you submit an idea for a potential project.  Clicking on the Project submission button will take you to a three-part project
              creation screen.  The first section will allow you to add a title and description for your project.  The second section will allow you
              to specify a category for the project.  The final section will allow you to add team members assigned to the project for easy tracking.

              Below the project submission button is the Idea submission button.  Clicking this button will take you to the idea creation page.  On this page
              you will be able to specify a title and long description for your potential idea
            </p>
          </div>
          <div class="container2">
            <div style="margin-top:50px">
            &nbsp
            <a ui-sref="user.welcome1()" class="btn btn-primary outline"> Next </a>

            </div>
          </div>
    </div>

</section>﻿
</html>
