<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>welcome</title>
    <link rel="stylesheet" href="modules/users/client/css/users.css">
  </head>
<section class = "authpage" ng-controller="AuthenticationController">
          <div style="margin-bottom:10vh">
            <h3 class="text-left">Voting and Commenting</h3>
              <p class="text-left">
                 The Hackathon App allows users to submit feedback on their peers' Projects and Ideas.  Users can post comments and reply to comments
                 from their peers!  Additionally, users are able to vote on projects and sort the projects list by popularity.
              </p>
          </div>
          <div style="margin-bottom:10vh">
            <h3 class="text-left">Articles and Frequently Asked Questions (FAQ)</h3>
            <p class="text-left">
              Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.</li>
              Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</li>
              Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.</li>
              Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</li>
            </p>
          </div>
          <div class="container2">
            <div style="margin-top:50px">
              <a ui-sref="user.welcome()" class="btn btn-primary outline"> Back </a>
              &nbsp;
              <a ui-sref="user.welcome2()" class="btn btn-primary outline"> Next </a>
            </div>
          </div>

</section>﻿
</html>
