<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>welcome</title>
    <link rel="stylesheet" href="modules/users/client/css/users.css">
  </head>
<section class = "authpage" ng-controller="AuthenticationController">
          <div style="margin-bottom:10vh">
            <h3 class="text-left">Events and Schedules </h3>
              <p class="text-left">
                 Track the progress of your next Event with the Hackathon's built in event timer.  The main timer located on the home page
                 gives users a real-time countdown until their next event begins.  Schedules allow you to view subevents in each Hackathon.
                 This section allows you to organize your time during the Hackathon and provides a convenient way of keeping track of
                all your assigned events.</li>
              </p>
          </div>
          <div style="margin-bottom:10vh">
            <h2 class="text-center">Get Started Today!</h2>
            <p class="text-left">
              </li>
            </p>
          </div>
          <div class="container2">
            <div style="margin-top:50px">
              <a ui-sref="user.welcome1()" class="btn btn-primary outline"> Back </a>
              &nbsp;
              <a ui-sref="signin()" class="btn btn-primary outline">
              <span class="glyphicon glyphicon-home"></span> </a>
            </div>
          </div>

</section>﻿
</html>
