/*
 *  Site Main
 */
@font-face { font-family: 'Louisiana'; src: url('../../../core/client/fonts/Louisiana.ttf'); }
@font-face { font-family: 'DIN'; src: url('../../../core/client/fonts/DINRegular.ttf'); }
@font-face { font-family: 'DINBold'; src: url('../../../core/client/fonts/DINBold.ttf'); }

.authpage {
  font-family: DIN, Arial,sans-serif;
}

/*
 *  Form Styles
 */
.userinputfield {
  color: #63666a;
  font-weight: 500;
  font-size: small;
}
.subtextpassword {
  color: #63666a;
  font-weight: 300;
  font-size: small;
  margin-top: 10px;
}
.authpage .container1 {
  text-align: center;
  left:0;
  right:0;
  margin-top:100vh;
  padding-bottom:10vh;
  background-color:#ddd;
}
.authpage .container2 {
  text-align: center;
  margin-bottom:50px;
}
.authpage .container3 {
  text-align:center;
  position:absolute;
  margin-left: 250px;
  left:0;
  right:0;
}
.authpage .container4 {
  text-align:center;
  position:absolute;
  margin-left: 250px;
  left:0;
  right:0;
  margin-top: 15vh;
}

.authpage .btn:focus, .btn:active:focus, .btn.active:focus {
  outline: 0 none;
}
.authpage .btn-primary {
  font-family: DINBold, Arial,sans-serif;
  background: #509e2f;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 18px;
  padding: 15px;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 10px;
}
.authpage .round {
  border-radius: 8px;
}
.authpage .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  background: #114e67;
}
.authpage .btn-primary:active, .btn-primary.active {
  background: #63666a;
  box-shadow: none;
}
.authpage .btn.outline {
  background: none;
  padding: 12px 22px;
}
.authpage .btn-primary.outline {
  margin-top:15px;
  border: 2px solid #509e2f;
  color: #509e2f;
}
.authpage a{
  color: #63666a;
  font-weight: 500;
  font-family: DIN, Arial,sans-serif;
}
.authpage h3 {

  font-family: DIN, Arial,sans-serif;
  font-size: 32px;
  font-weight: 600;
}
.authpage p {
  font-family: DIN, Arial,sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.authpage .option {
  margin-top: 10px;
}
.authpage .option-title {
  color: #509e2f;
  text-decoration: none;
  margin-bottom: 30px;
}
.authpage .welcome-screen {
  text-align: center;
}
.authpage .welcome-screen a {
  font-family: Louisiana, Arial,sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #007299;
}
.authpage .welcome-screen h3 {
  font-family: DIN, Arial,sans-serif;
  text-align: left;
  font-size: 32px;
  font-weight: 600;
  color: #63666a;
  margin-bottom: 30px;
}
.authpage .welcome-screen p {
  font-family: DIN, Arial,sans-serif;
  font-weight: 400;
  color: #63666a;
}
.authpage .form-group label {
  font-weight: 600;
  color: #63666a;
}