/*
 * projects-list
 */
.list-group {
  padding-bottom: 10px;
  border: none;
  color: #63666A !important;
}

.list-group-item {
  font-family: DIN, Arial, sans-serif;
  color: #63666A !important;
  padding: 15px;
  border-radius: 0 !important;
  cursor: pointer;
  border: none;
}

/*
 * projects-view
 */
.frontscreen {
  font-family:DIN, Arial,sans-serif;
  padding: 50px 10px 50px 20px;
  margin-top: 0;
  background-color: #63666A;
  color: white;
}
.voteButton {
  font-family:DIN, Arial,sans-serif;
  background-color: #509E2F;
  color: white !important;
 }
.voteButton:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  background-color: #115e67;
  color: white !important;
}

 .unvoteButton {
   font-family:DIN, Arial,sans-serif;
   background-color: #63666A;
   color: white !important;
 }

/*
 * projects-add
 */
.view-title {
  font-family: DINBold, Arial, sans-serif;
  margin: auto;
  width: 500px;
  padding: 10px;
}

.view-media {
  margin: auto;
  width: 500px;
  padding: 10px;
}

.view-desc {
  font-family: DINBold, Arial, sans-serif;
  margin: auto;
  width: 500px;
  padding: 10px;
}

ul.team-list {
  list-style-type: none;
  width: 100%;
  padding: 0;
  margin-bottom: 15px;
  line-height: 24px;
  font-size: 16px;
}

ul.team-list li {
  font-family: DIN, Arial, sans-serif;
  margin-top: 8px;
}

ul.team-list li i {
  font-family: DINBold, Arial, sans-serif;
  float: left;
  background-color: grey;
  border: 3px solid #333333;
  border-radius: 100px;
  width: 24px;
  height: 24px;
  text-align: center;
  margin-right: 15px;
  font-size: 12px;
  line-height: 16px;
}

.progress-bar {
  background-color: #115e67;
}

hr {
  margin: 10px 0;
  border: 1px #63666A;
}

.project-content {
  clear: both;
  margin: 15px 0 25px 0;
}

.project-item {
  cursor: pointer;
}


/* projects-vote */
thead {
  background-color: #509E2F;
}

tbody {
  background-color: white;
}
.comments-list {
  background-color: white !important;
}

.comment {
  border-bottom: solid #63666A ;
  padding: 15px;
  margin-bottom: 10px;
  background-color: transparent !important;
}
.btn-primary {
  font-family: DINBold, Arial, sans-serif;
  background: #509e2f;
  color: white;
  margin-right: 10px;
  border-radius: 8px;
  font-size: 18px;
  padding: 15px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  background: #115e67 !important;
}

.btn-primary:active, .btn-primary.active {
  background: #63666A !important;
  box-shadow: none;
}
.btn-radio {
  font-family: DIN, Arial, sans-serif;
  background: #63666A;
  color: white;
  border-radius: 8px;
  font-size: 12px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: hand;
  border: none;
}
.btn-radio:hover, .btn-radio:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  background: #115e67 !important;
}

.btn-radio:active, .btn-radio.active, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  background: #509e2f !important;
  box-shadow: none;
}
.btn-danger {
  background: none;
  color: #63666A !important;
  border: none;
  display: run-in;
  margin: 5px;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open > .dropdown-toggle.btn-danger {
  background: #115e67 !important;
  color: white !important;
}
.btn-danger:active, .btn-danger.active {
  background: #63666A !important;
}