<section ng-controller="SubEventsController">
  <h1>Create New Sub Event</h1>

  <form ng-submit="create()">
    <div class="form-group">
      <label for="title">Title</label>
      <input name="title" type="text" ng-model="title" id="title" class="form-control" placeholder="Title">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea name="description" type="text" ng-model="description" id="description" class="form-control" placeholder="Description"></textarea>
    </div>
    <div class="form-group">
      <label for="location">Location</label>
      <input name="location" type="text" ng-model="location" id="location" class="form-control" placeholder="Location">
    </div>
    <div class="form-group">
      <label>Date/Time</label> <br />
      <datetimepicker ng-model="datetime"
                      date-format="dd-MMM-yyyy">
      </datetimepicker>
    </div>

    <div class="form-group">
      <input type="submit" value="Create" class="btn btn-default">
    </div>
  </form>
</section>