<section ng-controller="HomeController">
  <form class="col-md-offset-2 col-md-8">
    <div class="row-admin">
      <div class="row-item-admin">
        <a ui-sref="events.index()" class="btn-primary-admin">Manage Events</a>
      </div>
      <div class="row-item-admin">
        <a ui-sref="eventCategories.index()" class="btn-primary-admin">Manage Event Categories</a>
      </div>
      <div class="row-item-admin">
        <a ui-sref="projects.votes()" class="btn-primary-admin">Vote Results</a>
      </div>
      <div class="row-item-admin">
        <a ui-sref="articles.create()" class="btn-primary-admin">Add an Article</a>
      </div>
    </div>
  </form>

</section>
