
<div ng-controller="AuthenticationController">





<div>
  <h3 class="text-center">Step 1</h3>

    <ul>
       <li>Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.</li>
       <li>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</li>
       <li>Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.</li>
       <li>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</li>
    </ul>

</div>

<div id="container1">



      <a href="/" class="btn btn-primary round"> <span class="glyphicon glyphicon-home"></span></a>

      <a href="/2" class="btn btn-primary round"> Step 1</a>

      <a href="/3" class="btn btn-primary round"> Step 2</a>


  <div style="margin-top:50px">
    <a href="/1" class="btn btn-primary outline"> Sign-in</a>
</div>
</div>
</div>
