
<div ng-controller="AuthenticationController">





<div>
  <h3 class="text-center">Welcome!</h3>
  <h2 class="text-center">What this app can do for you?</h2>
</div>
<div id="container1">
  <img src='modules/users/client/img/asdf.jpeg' />
</div>
<div id="container1">



      <a href="/" class="btn btn-primary round"> <span class="glyphicon glyphicon-home"></span></a>

      <a href="/2" class="btn btn-primary round"> Step 1</a>

      <a href="/3" class="btn btn-primary round"> Step 2</a>


  <div style="margin-top:50px">
    <a href="/1" class="btn btn-primary outline"> Sign-in</a>
</div>
</div>
</div>
