<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>welcome</title>
    <link rel="stylesheet" href="modules/users/client/css/users.css">
  </head>


<section ng-controller="AuthenticationController">

      <header style="
      width:200%;
      height: 100vh;
      position:absolute;
      top:0;
      left:-50vh;
      background-image: url(modules/users/client/img/pexels-photo.jpg);
      background-size: cover;
      background-position: center;
      margin-bottom: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;">
      <label id="container3">
          <img src='modules/users/client/img/logo.svg'  width="405" />
        </label>
      </header>




<label id="container1">

          <div style="margin-bottom:10vh">
            <h3 class="text-left">Welcome to the hackathon</h3>
              <p class="text-left">
                 Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.</li>
                 Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</li>
                 Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.</li>
                 Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</li>
              </p>
          </div>

          <div style="margin-bottom:10vh">
            <h3 class="text-left">How to use this app</h3>
            <p class="text-left">
              Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.</li>
              Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</li>
              Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.</li>
              Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</li>
            </p>
          </div>

          <div id="container2">
            <div style="margin-top:50px">
            <a ui-sref="login()" class="btn btn-primary outline"> Sign-in</a>
            </div>
          </div>
</label>
</section>﻿
</html>
