@font-face { font-family: 'Louisiana'; src: url('../fonts/Louisiana.ttf'); }
@font-face { font-family: 'DIN'; src: url('../fonts/DINRegular.ttf'); }
@font-face { font-family: 'DINBold'; src: url('../fonts/DINBold.ttf'); }

/*
 *  Color Reference
 *  Primary Colors
 *  -- #509E2F = PMS 362C      - shade of green
 *  -- #63666A = COOL GRAY 10C - shade of cyan-blue
 *  Secondary Colors
 *  -- #115E67 = PMS 547C      - dark shade of cyan
 *  -- #003B5C = PMS 302C      - dark shade of cyan-blue
 *  Accent Colors
 *  -- #CED9E5 = PMS 650C      - light shade of cyan-blue
 *  -- #ED8B00 = PMS 144C      - shade of brown
 *  -- #CEDC00 = PMS 381C      - shade of yellow-green
 *  -- #7A4183 = PMS 7662C     - medium dark shade of magenta
 */

/*
 *  App Header
 */
.header {
  background-color: #509E2F;
  color: white;
  text-align: center;
  height: 70px;
  line-height:50px;
  padding: 10px;
}

#homelogo {
  position: relative !important;
  height: 90%;
  padding: 5px;
}

.menu-select {
  color: white;
  float: left;
  cursor: pointer;
  font-size: 24px;
  overflow: auto;
}

/*
 *  App Menu
 */
#side-menu {
  height: 100%;
  width: 200px;
  background-color: white;
  position: fixed !important;
  z-index: 1;
  overflow: auto;
  left: -200px;
  top: 70px;
  transition: left 0.25s;
}

#side-menu a {
  font-family: DINBold, Arial;
  display: block;
  width: 100%;
  color: #509E2F;
  text-decoration: none;
  padding: 15px 10px;
  border-bottom: 2px solid #63666A;
}

body {
  background-color: #ced9e5;
}
.content {
  margin-top: 25px;
}
.undecorated-link:hover {
  text-decoration: none;
}

[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}

/*
 *  Event Counter
 */
.event-countdown {
  background-color: #ced9e5;
  color: #63666a;
  padding: 5px;
  margin-bottom: 2vh;
}

/*
 *  Home - Projects Create
 */
.create {
  font-family: DIN, Arial;
  background-color: #509e2f;
  width: 100%;
  padding: 10px;
  color: white;
  cursor: pointer;
  margin-bottom: 2vh;
}

.create h3 {
  margin-top: 5px;
  margin-bottom: 0px;
}

.create .sub-title {
  font-family: DINBold, Arial;
  text-transform: uppercase;
  margin-top: 5px;
  margin-bottom: 0px;
}

/*
 *  Home - Ideas Create
 */
.create-idea {
  font-family: DIN, Arial;
  background-color: #115e67;
  width: 100%;
  padding: 10px;
  color: white;
  cursor: pointer;
  margin-bottom: 2vh;
}

.create-idea h3 {
  margin-top: 5px;
  margin-bottom: 0px;
}

.create-idea .sub-title {
  font-family: DINBold, Arial;
  text-transform: uppercase;
  margin-top: 5px;
  margin-bottom: 0px;
}
/*
* Home - Articles
*/
.create-article {
  font-family: DINBold, Arial;
  background-color: #63666A;
  width:100%;
  padding: 10px;
  color: white;
  cursor: pointer;
  margin-bottom: 2vh;
}
.create-article h3 {
  font-family: DINBold, Arial;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0px;
}
