body {
  background-color: #ccc;
}
.content {
  margin-top: 50px;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}

#top-menu {
  background-color: green;
  color: white;
  cursor: pointer;
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
  font-size: 24px;
}

#side-menu {
  height: 100%;
  width: 200px;
  background-color: white;
  position: fixed !important;
  z-index: 1;
  overflow: auto;
  left: -200px;
  top: 50px;

  transition: left 0.25s;
}

#side-menu a {
  display: block;
  width: 100%;
  color: black;
  text-decoration: none;

  padding: 15px 10px;

  border-bottom: 1px solid grey;
}